/* You can add global styles to this file, and also import other style files */
.main{
  width: 99%;
  margin: auto;
  vertical-align: top;
}
.users{
  float: left;
  width: 60%;
}
.userDetail{
  float: left;
  width: 35%;
}
.btn-save, .reset {
  background-color: green;
  color: #ffffff;
  font-weight: bold;
  padding: 5px;
  width: 80px;
  margin-right: 10px;
}
.form-footer{
  text-align: center;
  padding: 10px;
}
.form-group{
  padding: 10px;
  border: 1px solid #c0c0c0;
  margin-bottom: 10px;
}
.form-group label{
  display: inline-block;
  text-align: left;
  padding: 5px;
  width: 25%;
}
.form-group input{
  padding: 5px;
  border: 1px solid #c0c0c0;
  width: 68%;
  text-align: left;
  /*border: 1px solid blue;*/
}
label, input {
  margin-right: 5px;
}
